* {
  font-family:Arial, Helvetica, sans-serif
}

body {
  background-color: lightblue;
}

.wrapper {
  width: 300px;   
  background-color: #FFF;
  display: block;
  margin: 1em auto;
  border-radius: 10px;
  padding-bottom : 50px;
}

.app-title {
  width: 300px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.app-title p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  border-radius: 10px 10px;
  font-style: italic;
  font-size: 1.2em;
  color:#721c24;
  background-color:antiquewhite;
}

.notification {
  background-color: antiquewhite;
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container {
  width: 300px;
  height: 260px;
  background-color: white;
}

.weather-icon {
  width: 300px;
  height: 128px;
  user-select: none;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
  width: 150px;
  user-select: none;
}

.temp-val {
  width: 300px;
  height: 100px;
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
  left: 6rem;
  top: 0.5rem;
}

.temp-val p {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 4em;
  text-align: center;
  position: absolute;
}

.temp-val span {
  color: black;
  font-size: 0.5em;
  position: absolute;
  display: inline-block;
  top: 0.9em;
}

.temp-desc p {
  padding: 8px;
  margin: 0;
  color: black;
  text-align: center;
  font-size: 1.2em;
  user-select: none;
}

.location p{
  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
  font-size: 0.8em;
  user-select: none;
}